<%- include('.././public/header.html') %>

<h1>Gear</h1>
<div class="equipment">
<table>
<tr>
    <td>Icon</td>
    <td>Name</td>
    <td>Crit</td>
    <td>Det</td>
    <td>D.Hit</td>
    <td>Vitality</td>
    
</tr>
<% slot.forEach(slot => { %>
    <% gear.forEach(gear => { %>
        <% if (gear.Slot === slot) { %>
            <tr>
            <td class="gearIcon" style="background:url('<%= `https://xivapi.com` + gear.Icon %>')"></td>
            <td><%= gear.Name %></td>
            <td><%= gear.Stats.CriticalHit.NQ %></td>
            <td><%= gear.Stats.Determination.NQ %></td>
            <td><%= gear.Stats.DirectHitRate.NQ %></td>
            <td><%= gear.Stats.Vitality.NQ %></td>
            </tr>
        <% } %>
    <% }) %>
<% }) %>
</table>
</div>

<%- include('.././public/footer.html') %>